
.navigation-main {

}

.navigation-main-scrolled {
  position: fixed;
z-index: 999999;
width: 100%;
top: 0px;

}

.shop--navigation {
}

/* Tabletts */

	.shop--navigation-scrolled {
background: #fff;
  position: fixed;
z-index: 999999;
width: 100%;
top: 0px;


}
.imgstaticsite {
    width: 100%;
    height: auto;
}



#detail_menu{padding:0;margin:0 0 16px;list-style:none;width:100%;}
#detail_menu li{width:100%}#detail_menu a{border-bottom:1px dotted #d4d4d4;display:block;word-wrap:break-word;color:#59585a;padding:8px;text-align:center;width:100%;position:relative}

#detail_menu a:before{font-family:font-awesome;}
#detail_menu a:hover{background:#eee;}


.shop--navigation .navigation--entry .icon--pencil{
    font-size: 25px;

    vertical-align: middle;
}

.product--details .product--base-info .entry--label {
    margin: 0px 8px 0px 0px;
    margin: 0rem .5rem 0rem 0rem;
    width: 50%;
    display: inline-block;
}

.product--details .action--link {
    margin: 0px 0px 0px 0px; 
    margin: 0rem 0rem 0rem 0rem; 


}
.product--details .product--actions{
	 border-bottom: none;
}

.configurator--variant .option--input:checked ~ label {
    color: #59585a;
    border-color: #da0830;
}

.is--ctl-checkout.is--minimal-header .header-main, .is--ctl-register.is--minimal-header .header-main, .is--ctl-register.is--minimal-header.is--target-checkout .header-main {
    border-bottom: 2px solid #da0830;
}

.product--box .product--price {
    text-align: right;
}



.clear{
    clear:both;
}

.emotion--banner-slider .banner-slider--container, .emotion--banner-slider .banner-slider--slide{
/***koment Wegen Sina Einkaufswelt***/
    xmargin-top:-20px;
    xmargin-bottom:0px;
    xmargin-top:-10px;
}
.emotion--banner-slider{
xmargin-bottom: 20px;
xpadding-bottom: 20px;
}

/**
#hover img {background-color:#999;}
#hover img {}
#hover img:link {color:#ffffff;background-color:#ffffff;}
#hover img:visited{color:#ffffff;background-color:#ffffff;}

#hover img:hover{ 

    opacity:0.5;
    border:1px solid #000;
-webkit-transform: scale(0.96);
-moz-transform: scale(0.96);
-ms-transform: scale(0.96);
-o-transform: scale(0.96);
transform: scale(0.96);

 -moz-transition: all 0.9s ease-in;
    -webkit-transition: all 0.9s ease-in;
    -o-transition:all 0.9s ease-in;
    transition: all 0.9s ease-in;

}
#hover:active {}

**/
/***abweiche für mozilla**/
header-main .top-bar .point--of--sale{
    float:left;
border: 1px solid #999;
width: 100%;
}

/*** Rahmen für Mainslider ***/

.hat--rahmen .emotion--digital-publishing-slider {
    
    padding: 0 3.5%;
    
}

xemotion--element col-1 row-1 start-col-1 start-row-1 col-xs-1 start-col-xs-1 row-xs-2 start-row-xs-11 col-s-1 start-col-s-1 row-s-2 start-row-s-11 col-m-1 start-col-m-1 row-m-2 start-row-m-11 col-l-1 start-col-l-1 row-l-2 start-row-l-11 col-xl-1 start-col-xl-1 row-xl-2 start-row-xl-11 hover img:hover{

opacity:0.5!important;
    xborder:1px solid #000!important;
-webkit-transform: scale(1.06)!important;
-moz-transform: scale(1.06)!important;
-ms-transform: scale(1.06)!important;
-o-transform: scale(1.06)!important;
transform: scale(1.06)!important;

 -moz-transition: all 0.2s ease-in !important;
    -webkit-transition: all 0.2s ease-in!important;
    -o-transition:all 0.2s ease-in!important;
    transition: all 0.2s ease-in!important; 
};

.img banner--link:hover{

opacity:0.5;
    xborder:1px solid #000;
-webkit-transform: scale(1.06);
-moz-transform: scale(1.06);
-ms-transform: scale(1.06);
-o-transform: scale(1.06);
transform: scale(1.06);

 -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition: all 0.2s ease-in; 

}

.banner--content-hover img:hover{

opacity:0.5!important;
    xborder:1px solid #000!important;
-webkit-transform: scale(1.06)!important;
-moz-transform: scale(1.06)!important;
-ms-transform: scale(1.06)!important;
-o-transform: scale(1.06)!important;
transform: scale(1.06)!important;

 -moz-transition: all 0.2s ease-in !important;
    -webkit-transition: all 0.2s ease-in!important;
    -o-transition:all 0.2s ease-in!important;
    transition: all 0.2s ease-in!important; 

};


.emotion--element.hover:hover{


opacity:0.5!important;
    xborder:1px solid #000!important;
-webkit-transform: scale(1.06)!important;
-moz-transform: scale(1.06)!important;
-ms-transform: scale(1.06)!important;
-o-transform: scale(1.06)!important;
transform: scale(1.06)!important;

 -moz-transition: all 0.2s ease-in !important;
    -webkit-transition: all 0.2s ease-in!important;
    -o-transition:all 0.2s ease-in!important;
    transition: all 0.2s ease-in!important; 

};


.emotion--element.product--box .product--image.image--media:hover
{
border: 1px solid #999!important;
};


.product--box .product--image .image--element img:hover{
    border: 1px solid #999!important;
};

.is--secondary{
        background-color: #d40032!important;
        background-image: none!important;
} 

.banner-slider--slide img{
    width:100%!important;
    height: auto!important;


}

.banner-slider--image{

    width: 100%!important;
    height: auto!important;
}